@use "variables";

.nav-container {
  nav {
    height: 90px;
    max-width: variables.$content-width;
    width: 100%;
    // background-color: blue;
    border-bottom: solid 2px black;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    position: fixed;
    z-index: 99;
    font-size: 19px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-weight: bolder;

    .logo {
      width: 150px;
      height: 50px;
      //   background-color: yellow;
      background-image: url(../images/logo-black.png);
      background-repeat: no-repeat;
    }

    .links {
      //   background-color: aquamarine;
      max-width: 400px;
      width: 100%;
      flex-wrap: wrap;
      display: flex;
      justify-content: space-evenly;

      a {
        text-decoration: none;
        color: black;
      }
    }
  }
}
